*, body, html, div {
    margin: 0;
    padding: 0;
}

.col-md-6, .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}