html, body {
    overflow-x: hidden;
}
nav ul li {
    list-style: none;
    display: inline;
}
.subscribe ul li {
    list-style: none;
    display: inline;
}

ul {
    display: inline;
}
.header-top-right {
    display: inline-flex;
    font-size: 11px;
}

.collection-big-left {
    background: url("http://via.placeholder.com/1024x400") no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    height: 200px;
}
.collection-middle-top-right {
    background: url("http://via.placeholder.com/1024x400") no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    height: 100px;
    margin-bottom: 2px;
}
.colection-smoll-bottom-right {
    background: url("http://via.placeholder.com/1024x400") no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    height: 100px;
}
.colection-smoll-bottom-left {
    background: url("http://via.placeholder.com/1024x400") no-repeat center;
    -webkit-background-size:cover;
    background-size: cover;
    height: 100px;
}

.hot-navigation {
    float: right;
}
.hot-products {
    overflow-x: hidden;
}

.block-relative {
    position: relative;
}

.grey-line {
    position: absolute;
    width: 100%;
    border: 1px solid #999;
    top: 50%;
}
.clearence-img {
    position: relative;
    width: 91vw;
    margin: 0 auto;
    height: 150px;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-flex;
    justify-content: center;
}
.clearence-img img {
    z-index: 2;
    background:  #fff center;
    padding-left: 10px;
    padding-right: 10px;
}
.brands-title {
    position: relative;
    background:  #fff center;
    display: inline-flex;
    justify-content: center;
    z-index: 2;
    margin-left: 43vw;
    padding-left: 10px;
    padding-right: 10px;
}
.brands-row {
    display: flex;
    justify-content: space-around;
}

.favorite-brands .block-relative:last-child {
    margin-top: 20px;
}

.about {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}
.card {
    padding-right: 10px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container ul li {
    list-style: none;
}

footer .social ul{
    display: flex;
    justify-content: space-around;
}
.footer-nav p {
    margin-top: 30px;
    color: #000;
    font-size: 16px;
    line-height: bold;
}