//Fonts
@font-face {
  font-family: HelveticaNeueL;
  src: url("fonts/HelveticaNeueLTStd-LtCn.otf");
}
@font-face {
  font-family: ArialRegular;
  src: url("fonts/ArialRegular.eot");
  src: local(arialregular), url("fonts/ArialRegular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeueL";
  & ul li {
    list-style: none;
  }
}

//all buttons
button {
  border: none;
  background-color: #fd926d;
  border-bottom: 4px solid #fd926d;
  border-radius: 0;
  padding: 10px 10px 5px 10px;
  &:hover {
    border-bottom: 4px solid #dd6b44;
  }
}

//header styles
.header_top {
  display: inline-block;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: ArialRegular;
  font-size: 12px;
  text-transform: uppercase;
  & .header-phone {
    float: left;
    & p {
      margin: 10px 15px;
    }
  }
}
.header_account {
  display: inline-block;
  & .curency {
    float: right;
    border-right: 2px solid #444444;
    border-left: 2px solid #444444;
    & ul li {
      margin: 10px 15px;
      text-align: center;
    }
  }
  & .user {
    float: right;
    & ul li {
      margin: 10px 15px;
      text-align: center;
    }
  }
  & .search {
    padding: 0;
    float: right;
    border-right: 2px solid #444444;
    border-left: 2px solid #444444;
    & ul li {
      margin: 10px 15px;
      text-align: center;
    }
  }
}

.header_bottom {
  .logo {
    margin: 0 auto;
    height: 40px;
    width: 140px;
    background: url("../img/logo.png") no-repeat;
    background-size: cover;
  }
}

//slider styles
.sl_slide {
  position: relative;
  & .sl_content {
    position: absolute;
    bottom: 80px;
    left: 200px;
    & .sl_h3 {
      text-transform: uppercase;
      color: #78645d;
    }
    & .sl_btn {
      text-transform: uppercase;
      color: #fff;
      & span {
        transform: rotate(-90deg);
        margin-left: 10px;
      }
    }
  }
}
//slider arrows style
.sl {
  & button.slick-arrow.slick-next {
    &::before {
      content: '>';
    }
  }
  & button.slick-arrow.slick-prev {
    &::before {
      content: '<';
    }
  }
}

//edit slick slider styles
.slick-dots {
  & li button::before {
    content: "";
    background-color: #867a76;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
  & li.slick-active button::before {
    background-color: #fda486;
  }
}