//var...
@subscribeHeight : 56px;
@btnColor : #fd926d;
@btnColorHover : #dd6b44;

//Fonts
@font-face {
  font-family: HelveticaNeueL;
  src: url("fonts/HelveticaNeueLTStd-LtCn.otf");
}
@font-face {
  font-family: ArialRegular;
  src: url("fonts/ArialRegular.eot");
  src: local(arialregular), url("fonts/ArialRegular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeueL";

  & ul li {
    list-style: none;
  }
}

//all buttons
button, input.submit {
  border: none;
  background-color: #fd926d;
  border-bottom: 4px solid #fd926d;
  border-radius: 0;
  padding: 10px 10px 5px 10px;
  transition: all .1s;
  &:hover {
    border-bottom: 4px solid #dd6b44;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}

//header styles
.header_top {
  display: inline-block;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  & .header-phone {
    float: left;
    & p {
      margin: 10px 15px;
    }
  }
}
.header_account {
  display: inline-block;
  & .curency {
    float: right;
    border-right: 2px solid #444444;
    border-left: 2px solid #444444;
    & ul li {
      margin: 10px 15px;
      text-align: center;
    }
  }
  & .user {
    float: right;
    & ul li {
      margin: 10px 15px;
      text-align: center;
    }
  }
  & .search {
    padding: 0;
    float: right;
    border-right: 2px solid #444444;
    border-left: 2px solid #444444;
    & ul li {
      margin: 10px 15px;
      text-align: center;
    }
  }
}
.header_bottom {
  .logo {
    margin: 0 auto;
    height: 40px;
    width: 140px;
    background: url("../img/logo.png") no-repeat;
    background-size: cover;
  }
}

//Slider styles
section.slider {
  & .sl.owl-carousel {
    position: relative;
    width: 100%;
    & .sl_slide {
      & .sl_img {}
      & .sl_content {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0, -50%);
        & button {
          color: #fff;
          font-size: 35px;
          text-transform: uppercase;
          padding: 20px 35px;
          padding-bottom: 10px;
          text-align: center;
          & i {
            font-size: 25px;
          }
        }
        & h3 {
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
  & .owl-nav {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 50%;
    background: none;
    & [class*=owl-]{
      font-size: 70px;
      line-height: 100px;
      transform: translate(0, -50%);
      background: none;
      color: #fff;
      &:hover {
        background: none;
        text-shadow: 0 0 30px rgba(0,0,0,.5);
      }
    }
    & .owl-prev {
      position: inherit;
      left: 0;
    }
    & .owl-next {
      position: inherit;
      right: 0;
    }
  }
}

//Subscribe
section.subscribe {
  background-color: #ededed;
  height: @subscribeHeight;
  width: 100%;
  & .col-md-6 {
    & form {
      position: relative;
      height: @subscribeHeight;
      & label {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        padding-bottom: 2px;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
        & input.email {
          border: none;
          box-shadow: none;
          text-align: center;
          padding-bottom: 4px;
        }
        & input.submit {
          box-shadow: none;
          color: #fff;
          margin: 0;;
          padding: 0 10px;
          &:hover {
            border-bottom: 4px solid @btnColorHover;
          }
        }
      }
    }
    & ul.social {
      & li {
        display: inline-block;
        font-size: 12px;
        float: right;
        padding: 17px 13px;
        &:nth-child(2n+1) {
          background-color: #f7f7f7;
        }
        & span {}
        a {
          padding: 17px 13px;
          & i {
            color: #6b6b6b;
            font-size: 20px;
          }
        }
      }
    }
  }
}